.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container-main {
    padding-top: 20px;
}

.result-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-group .left-label{
    width: 17%;
}

.input-group .input-group-addon{
    font-size: .8em;
    font-weight: bold;
}

.edit-button {
    margin-top: 20px;
}

.quantity {
    padding: 5px;
}
