.App {
  text-align: center;
  padding-bottom: 40px;
  font-size: 18px;
}
.quantity-inputs {
    max-width: 400px;
    margin: 0 auto 20px auto;

}

.input-group .left-label{
    width: 17%;
}

.input-group .input-group-addon{
    font-weight: bold;
}
.input-group {
    font-size: 2em;
}

.edit-button {
    margin-top: 20px;
}

.quantity {
    padding: 5px;
}

.chronicity-of-respiration {
    padding: 0 15px;
}

.progress {
    margin-bottom: 8px;
}
.error {
    color: #b53c3c;
}
