.App {
  text-align: center;
  padding-bottom: 40px;
}
.quantity-inputs {
    max-width: 400px;
    margin: 0 auto;
}

.input-group .left-label{
    width: 17%;
}

.input-group .input-group-addon{
    font-size: .8em;
    font-weight: bold;
}

.edit-button {
    margin-top: 20px;
}

.quantity {
    padding: 5px;
}

.chronicity-of-respiration {
    padding: 0 15px;
}

.progress {
    margin-bottom: 8px;
}
